<section class="about-section mt-5 pt-5 py-5" id="about">
  <div class="container mt-5 pt-5 py-5">

    <h2 class="text-uppercase text-white mb-3 mt-5 pt-5 text-center fw-bold fs-1">ABOUT COMPONENT</h2>

    <!-- نجمة -->
    <div class="d-flex justify-content-center align-items-center mb-4">
      <div class="line bg-white mx-2" style="width: 80px; height: 4px;"></div>
      <i class="fas fa-star text-white"></i>
      <div class="line bg-white mx-2" style="width: 80px; height: 4px;"></div>
    </div>

    <!-- الفقرتين جمب بعض -->
    <div class="row justify-content-center text-white mb-3  pb-5  fs-14">
      <div class="col-md-5">
        <p>
         Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
        </p>
      </div>
      <div class="col-md-5">
        <p>
          Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
        </p>
      </div>
    </div>

  </div>
</section>
