<section class= "footer-top py-5 text-white text-center">
  <div class="container">
    <div class="row g-4 ">

      <!-- LOCATION -->
      <div class="col-md-4 py-5">
        <h4 class="fw-bold text-uppercase mb-3">Location</h4>
        <p class="mb-0">2215 John Daniel Drive</p>
        <p>Clark, MO 65243</p>
      </div>

      <!-- AROUND THE WEB -->
      <div class="col-md-4 py-5">
        <h4 class="fw-bold text-uppercase mb-4">Around The Web</h4>
        <div class="social-icons d-flex justify-content-center gap-3">
          <i class="fab fa-facebook fa-lg"></i>
          <i class="fab fa-twitter fa-lg"></i>
          <i class="fab fa-linkedin fa-lg"></i>
          <i class="fab fa-dribbble fa-lg"></i>
        </div>
      </div>

      <!-- ABOUT FREELANCER -->
      <div class="col-md-4 py-3">
        <h4 class="fw-bold text-uppercase mb-3">About Freelancer</h4>
        <p class="px-3">
          Freelance is a free to use, licensed Bootstrap theme created by Route.
        </p>
      </div>

    </div>
  </div>
</section>


<footer class="footer-bottom text-center text-white py-5">
  <p class="m-0">Copyright © Your Website 2021</p>
</footer>

